.booking-container {
  width: 80%;
  display: inline-block;
  padding: 1rem 2rem;

  @include respond-to-small {
    padding: 1rem 0;
    width: 100%;
  }
}

.booking-header {
  font-size: 1.5rem;
}

.booking-category {
  margin-bottom: 10px;
  display: block;
}

.booking-list {
  margin-bottom: 1rem;
}

.booking-block {
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid lightgray;
  box-shadow: 0px 3px 10px lightgrey;

  &--cursor {
    cursor: pointer;
  }

  @include respond-to-small {
    padding: 1rem;
  }
}

.booking-block--right {
  text-align: right;
}

.booking-block__section {
  width: 50%;
}

.booking-description {
  display: block;
}
.booking-details__backdrop {
  position: fixed;

  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.7);
}

.booking-details,
.booking-scheduler__container {
  background-color: white;
}

.booking-details {
  width: 400px;
}

.booking-scheduler__container {
  display: flex;
  width: 70%;
}

.booking-details {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.booking-details__subtext {
  margin: 0.5rem 0;
}

.booking-details__header,
.booking-scheduler__header {
  padding: 2rem;
  background-color: $greenklean-yellow;
  position: relative;
}

.booking-scheduler__header {
  width: 30%;
}

.booking-details__content,
.booking-scheduler__body {
  padding: 2rem;
  min-height: 15rem;
  background: white;
}

.booking-scheduler__body {
  width: 100%;
}

.booking-details__service-type {
  margin: 0;
  margin-bottom: 1.5rem;
  font-size: 2rem;

  font-weight: normal;
}

.booking-details__data {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.3rem;
}

.booking-details__rating {
  font-size: 1rem;
  margin-left: 1rem;
  float: right;
}

.booking-details__rating--no-rating {
  font-size: 0.8rem;
}

.booking-details__value {
  font-size: 1rem;
  margin-left: 0.5rem;
}

.booking-details__housekeepers {
  padding-left: 0;
}

.booking-details__housekeeper {
  list-style-type: none;
  margin-bottom: 0.5rem;
}

.booking-details__cancel {
  padding: 0.8rem;
  text-align: center;
  color: white;
  background-color: red;
  display: block;

  cursor: pointer;

  &:hover {
    background-color: rgba(255, 0, 0, 0.9);
  }

  &--unavailable {
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.6);
    pointer-events: none;
  }
}

.booking-details__close {
  display: block;
  text-align: right;

  cursor: pointer;
}

.booking-header__scheduler {
  float: right;
  display: block;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  background-color: $greenklean-yellow;
  border-radius: 16px;
}

.booking-scheduler__backdrop {
  position: fixed;

  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.7);

  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.booking-scheduler__label,
.booking-scheduler__input {
  display: block;

  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}

.booking-scheduler__label {
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
}

.booking-scheduler__input {
  background: white;
  color: black;
  padding: 0.5rem;

  margin-bottom: 0.5rem;

  border: 1px solid lightgray;
  position: relative;

  cursor: pointer;
}

.booking-scheduler__option {
  list-style-type: none;
  padding: 0.5rem;
  cursor: pointer;

  &--light {
    background: lightgray;

    &:hover {
      background: lightgray;
    }
  }

  &:hover {
    background: rgba(0, 0, 0, 0.01);
  }
}

.booking-scheduler__options {
  position: absolute;
  padding: 0;
  margin: 0;
  margin-left: -0.5rem;

  background-color: white;
  z-index: 10;
  width: 100%;

  box-shadow: 0px 5px 5px #795548;
}

.booking-scheduler__item,
.booking-scheduler__value {
  display: block;
}

.booking-scheduler__value {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.booking-scheduler__add {
  text-decoration: none;
  font-weight: 700;
  color: black;
  display: block;
  padding: 0.5rem;
}

.booking-scheduler__add-text {
  margin-left: 0.5rem;
}

.booking-scheduler__subtext {
  color: lightslategray;
  font-style: italic;
}

.booking-scheduler__accept {
  padding: 0.8rem;
  text-align: center;
  color: white;
  background-color: green;
  display: block;

  cursor: pointer;

  &:hover {
    background-color: rgba(0, 128, 0, 0.9);
  }

  &--unavailable {
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.6);
    pointer-events: none;
  }
}

.booking-scheduler__title {
  display: block;
}

.booking-scheduler__datepicker {
  margin-top: 10px;
  margin-right: 1rem;
}

.booking-scheduler__book-btn {
  display: block;
  text-align: center;
  background: $greenklean-yellow;
  padding: 0.725rem;
  cursor: pointer;

  &.booking-scheduler__book-btn--disabled {
    pointer-events: none;
    background: lightgray;
  }
}
