.login-backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $transparent-white;
  flex-direction: column;
}

.login-container {
  background-image: url("https://greenklean.ph/front/img/greenclean2.jpg");
  background-size: cover;
}

.form-region {
  border: 1px solid lightgray;
  padding: 50px;
  background: $white;
}

.form-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: start;

  .form-label {
    display: block;
    width: 50%;
  }
}

.field-title {
  display: block;
  font-size: $small;
  margin-bottom: 0.5rem;
}

.img-logo {
  width: 50px;
}

.block-span {
  display: block;
  text-align: center;
  font-size: 10px;
  padding: 10px 0;
}

.container {
  width: 100%;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.dashboard-details {
  padding: 5px 10px 0 10px;
  padding-bottom: 30px;
}

.lower-gutter {
  margin-bottom: 0.5rem;
}

.form-field.form-error {
  border: 1px solid red;
}

.no-place {
  text-align: center;
}
